[2022-08-24 18:13] warmachine028 opened #5 "Figma Design - Auth 📔 🧧"
### Description

# Uemcrp requires a Figma Layout.

- Initially just the only the `auth` page layout is acceptable
- Create figma file inside the `designs/` folder.
- Designs need not be perfect but must be done sincerely and carefully

### Screenshots

- Example:

![example](https://user-images.githubusercontent.com/75939390/186491127-f0e64e38-c0c2-4fa0-9587-8204ff10e87a.jpg)

### Additional info

[2022-08-25 14:07] warmachine028 opened #6 "PlaceHolder text"
### Description

The placeholder text reads Enrollment number, but the teachers might not particularly have enrollment number though. They might have employee Number.
 - change placeholder text from "Enrollment no." to User Name in Auth
 - change Select box title "Teachers" to " Teachers and Staffs"

### Screenshots

![Screenshot_2022-08-25-19-35-38-16_40deb401b9ffe8e1df2f1cc5ba480b12](https://use

[2022-08-25 14:25] warmachine028 opened #7 "Developement of Home Page"
### Description

The home page of UEMCRP must be designed first.
This must be taken into reference.

### Screenshots

Original Home page:
![IMG_20220825_195356](https://user-images.githubusercontent.com/75939390/186691264-d4e7d9eb-a94b-4529-b039-c5dca0a921a0.jpg)

### Additional information

_No response_

[2022-08-26 03:53] NAVONIL-PAUL commented on #5
I want to work on the Figma designing part.

[2022-08-26 04:13] warmachine028 commented on #5
Another person is already working on the issue, i would request you to wait.

[2022-08-26 08:32] Sohelahmed-molla commented on #6
I think it will work...

[2022-08-26 08:37] warmachine028 commented on #6
Sure, Go ahead ✅

[2022-08-26 08:42] Sohelahmed-molla commented on #6
I am having net issues...
I have already committed....
What u ask me to do....
Can u plz check the code once...

[2022-08-26 08:44] warmachine028 commented on #6
Can you put the screenshot of the changes you made, here?

[2022-08-26 13:09] #7 closed

[2022-08-26 13:31] warmachine028 opened #10 "Unresponsive Home Page"
### Description

### Uemcrp Homepage was designed without responsiveness
- Hence it looks shifted in mobile devices
- And even in laptops with lower resolution
- Styles must be separated from the main components inside `styles.js`
- All other components must be organized in a structured manner

### Screenshots

- Mobile Preview
![mobile](https://user-images.githubusercontent.com/75939390/186914648

[2022-08-26 19:11] warmachine028 commented on #10
### Fixes Added
1. **Desktop Layout**
![laptop](https://user-images.githubusercontent.com/75939390/186974605-056364f6-c541-4650-9179-4e38e4255433.png)

2. **Responsive Layout**

  | **Tablet Layout** | **Mobile Layout** |
  |:-----------------:|:-----------------:|
  |           ![ipad](https://user-images.githubusercontent.com/75939390/186974613-410b3cfb-0a97-4313-899e-ae7aaed1306c.png)     |

[2022-08-26 19:25] #10 closed

[2022-08-26 19:31] warmachine028 opened #13 "Figma Design - Home 🏡"
### Description

Uemcrp requires a Figma Layout for Home Page.
- Create figma files inside `design/` folder in **Root** directory only.
- Designs need not be perfect but must be done sincerely and carefully

### Screenshots

- Please refer to #5 for screenshots

### Additional information

## **Make sure to read the [CONTRIBUTING](https://github.com/warmachine028/uemcrp/blob/main/CONTRIBUTING.md)

[2022-08-26 19:43] Sohelahmed-molla commented on #6
![Screenshot (129)](https://user-images.githubusercontent.com/73135042/186979690-6e70eab9-cfe4-43d9-ab1c-967bfd443ffd.png)

[2022-08-26 19:49] Sohelahmed-molla commented on #6
![Screenshot (131)](https://user-images.githubusercontent.com/73135042/186980498-4dcaf44c-e91d-47a6-a28a-fd64ae1e3d84.png)

[2022-08-26 19:55] warmachine028 commented on #6
Hi @Sohelahmed-molla, Great to see you fixed the first Bug in this project and made your first contribution.

You can create a PR with this screenshot. If you are having trouble completing the PR template, make sure to check out any previously closed PR in this repo which contains the completed format of completing the PR template.

Great Work,
Pritam

[2022-08-27 13:28] NAVONIL-PAUL commented on #13
I want to work on this

[2022-08-27 13:32] warmachine028 commented on #13
Sure! go ahead. Please try to complete the work before this weekend, so that we won't be burdened by the college works. It needs not to be perfect. But it must be mostly accurate and sincerely done. If you get stuck or are facing any problem, make sure to let me know. I'll asist you.

**Please make sure to set up the project locally, and study the page with mobile responsiveness before working on

[2022-08-27 13:39] NAVONIL-PAUL commented on #13
Yes, I will try to finish it on time.

On Sat, Aug 27, 2022, 7:03 PM Kryptonite ***@***.***> wrote:

[2022-08-27 14:16] #6 closed

[2022-08-27 14:29] warmachine028 opened #16 "Title & Tab Bar Icon"
### Description

- The title is React App which must be changed to **UEMCRP** (All Caps)
- Also the React Logo must be replaced by UEM Logo.
- The UEM Logo can be found in `assets` folder.
- Hint: You must make changes in `client/public/index.html`

### Screenshots

![basic](https://user-images.githubusercontent.com/75939390/187034598-de9ecfc7-8b19-496c-9c10-b930c9485adc.jpg)

### Additional infor

[2022-08-27 14:37] developer-irfan commented on #16
@warmachine028 assign me this task. i will correct all of these you mentions.

[2022-08-27 14:39] warmachine028 commented on #16
Very Good! Go ahead with it.
Please leave a star. This is a fairly new Project and requires your help.

[2022-08-27 14:46] developer-irfan commented on #16
@warmachine028 ok

[2022-08-27 15:39] Sohelahmed-molla opened #18 "Sign in button"
### Description

- The problem is with the sign in button.
- When we hover the button it just get disappear.

### Screenshots

![Screenshot (133)](https://user-images.githubusercontent.com/73135042/187036976-b3664000-df26-403f-948b-2915c3baec0a.png)
![Screenshot (135)](https://user-images.githubusercontent.com/73135042/187037049-278e92cd-88f2-4f1a-8dbb-33d0d56883dd.png)

_No response_

### Additio

[2022-08-27 15:44] warmachine028 commented on #18
Sure! Go ahead with it! Please complete this issue before the weekend so that college work doesn't burden us. Make sure to star the Repo.

Cheers
Pritam

[2022-08-27 15:58] warmachine028 opened #19 "Dummy Modules and Routes 🛣️"
### Description

- Currently all modules take us to a route, but the routes are not operational.
- Routes need to be created inside `App/index.jsx` folder.
- Also Dummy Modules must be created inside `studentModules` directory, in the same format as other dummy modules present inside it. Right now **no module needs to be designed**, only the dummy modules must be created.
- Currently there are 9 m

[2022-08-28 06:53] #18 closed

[2022-08-28 06:55] Sohelahmed-molla opened #24 "Test issue"
### Description

- This is a test issue

### Screenshots

![Screenshot (136)](https://user-images.githubusercontent.com/73135042/187047115-eacbdce2-b679-4174-91c8-e9b78f608876.png)

![Screenshot (137)](https://user-images.githubusercontent.com/73135042/187047123-1a6de328-981c-41ae-bb81-4a169defa5b2.png)

### Additional information

- ## this is a additional

[2022-08-28 07:42] Sohelahmed-molla commented on #19
I would like work on this issue... ✌

[2022-08-28 07:44] #24 closed

[2022-08-28 07:44] warmachine028 commented on #24
Test complete

[2022-08-28 07:44] warmachine028 commented on #19
Sure! Go shead

[2022-08-28 14:58] #19 closed

[2022-08-28 20:37] #5 closed

[2022-08-28 21:08] warmachine028 opened #28 "Change Password Module 👁️👁️‍🗨️"
### Description

- Password reset page must be designed for UEMCRP.
- The file must be created inside `studentModules/changePassword` directory.
- A dummy component is already created there
- The form component from Auth Page must be reused.
- No need to write any validation or form submit logic. Just the basic layout is required by reusing the form component from `Auth/`
- There must be only **3

[2022-08-29 13:41] Sohelahmed-molla commented on #28
I would like to work on this  issue...

[2022-08-29 13:50] warmachine028 commented on #28
Very Good. Go ahead with it! Keep up with this enthusiasm! 🎉

[2022-08-29 14:54] #16 closed

[2022-08-30 15:05] warmachine028 opened #30 "Admit Cards 📇🃏"
### Description

- Admit card module must be designed for UEMCRP
- Currently the original Page of [iemcrp] contains just the print button without a preview of the admitCard.
- UEMCRP must contain a tab for selecting semesters.
- And have a download button below to download the admit card.
- The admit card must be written using JSX, Styled components and not provided with just a mere screenshot.

[

[2022-08-30 15:46] #30 closed

[2022-08-30 16:13] warmachine028 opened #32 "Organizational Calendar 📆🗓️"
### Description

- Organizational Calendar must be designed for UEMCRP
- Currently the original Page of [iemcrp] logs the user out to redirect to the organizational calendar.
- This action is really cumbersome for the users.
- The component must be designed using MUI and Styled Components only.

[iemcrp]: https://www.iemcrp.com/

### Screenshots

- The module

![org](https://user-images.githubuser

[2022-08-30 16:28] warmachine028 opened #33 "Mobile Responsiveness 📱"
### Description

- The Admit Card Page is not Responsive.
- The layout must be made responsive.
- Changes in styles files of the components must be done using media breakpoints
- References can be taken from other component's styles files which contain media breakpoints, such as auth or home
- **The Admit Card itself must not be modified inside(only the outer container must be modified) as it is a

[2022-08-30 18:03] zuzexx commented on #33
Can I be assigned to this issue?

[2022-08-30 18:09] warmachine028 commented on #33
Go ahead with it

[2022-08-31 02:04] warmachine028 opened #34 "Update README.md"
### Description
## Make the following changes in `README.md` file of the project.
- Update the date to today.
- Make changes in `What's new?` section.
  - Remove the point `Everything`
  - Add the following lines:
    - Home Page
    - Admit Cards
    - Student Modules
    - New Routes

### Screenshots

- outdated Readme
![Screenshot_2022-08-31-07-25-02-35_40deb401b9ffe8e1df2f1cc5ba480b12](https:/

[2022-08-31 03:42] #34 closed

[2022-08-31 16:07] #33 closed

[2022-08-31 16:29] warmachine028 opened #37 "Edit SETUP.md 👮"
### Description

- There is not proper documentation for moderators on how to accept a proper Pull request.
- Without proper guidelines, faulty PR's can get accepted in the repo
- This segment must be typed out in the bottom of [SETUP.md](https://github.com/warmachine028/uemcrp/blob/main/rules/SETUP.md) file

### Screenshots

![Screenshot 2022-08-31 215532](https://user-images.githubusercontent.co

[2022-08-31 17:16] warmachine028 opened #38 "Logout Button Invisible on Hover"
### Description

- The logout button becomes invisible on hover
- This action must be changed and a lighter shade of black must be added to the hover.

### Screenshots

- This is the preview of the bug.

![hover](https://user-images.githubusercontent.com/75939390/187739426-8c6e3329-c9f0-40b3-ac38-7af2fc7c7011.jpg)

### Additional information

- A [similar issue](#18) has occurred below, so you can

[2022-09-01 01:15] Marsh-sudo commented on #38
like to give this a short

[2022-09-01 01:24] warmachine028 commented on #38
Go ahead with it

[2022-09-02 04:12] seddboi commented on #38
Hello there, I have solved the invisible button issue on hover 🙂... please add me to the project.

[2022-09-02 04:18] warmachine028 commented on #38
@seddboi you have to create a PULL REQUEST by completing the Pull Request template adding issue name, issue number and your name after making the  changes. Please go through contributing.md file for more detailed informations

[2022-09-02 04:51] warmachine028 commented on #38
Hi @Marsh-sudo what's the status of the Work?

[2022-09-02 04:51] warmachine028 commented on #38
I have assigned you this Issue. Please create a PR now

[2022-09-02 06:08] warmachine028 opened #42 "Attendance Module 📇"
### Description

- The attendance module must be designed for UEMCRP.
- The file must be created inside `studentModules/Attendance`
- A dummy component is already created there
- The form component from Auth Page must be reused.
- There must be only **1 Text Field**
- And 1 submit Button

### Screenshots

- Module to be designed

![att](https://user-images.githubusercontent.com/75939390/188069642-

[2022-09-02 14:30] #42 closed

[2022-09-02 15:05] #38 closed

[2022-09-02 17:31] warmachine028 commented on #28
Great work @Sohelahmed-molla ✅

[2022-09-02 17:31] #28 closed

[2022-09-02 17:50] warmachine028 opened #47 "Attendance Form Icon 🃏"
### Description

- There is an icon missing in the Attendance Form
- This must be fixed
- Only use Icons from `@mui\Icons`
- The Icon is already imported, only place the icon in the form component

### Screenshots

- Problem
![Screenshot 2022-09-02 231730](https://user-images.githubusercontent.com/75939390/188209552-31724f5c-8457-4425-a37b-b40fc5c4a526.jpg)

- Final Solution
![issue](https://user-

[2022-09-02 18:43] sreekeshiyer commented on #47
I started working on this issue, sorry I forgot to update it here.

[2022-09-02 18:54] warmachine028 commented on #47
Very good

[2022-09-02 19:11] #47 closed

[2022-09-03 05:33] warmachine028 opened #51 "Bills 💵"
### Description

- Bills Module for UEMCRP must be designed
- Currently there is only a dummy Module present in the WebApp.
- The original page from [iemcrp](https://www.iemcrp.com/) looks much bleak in design.
- Add date range and search bars for better functionalities.
- The component must be only designed using styled components of MUI and JSX of React, **Not plain HTML and CSS**

### Screensho

[2022-09-03 05:45] #51 closed

[2022-09-03 05:56] warmachine028 opened #53 "Mobile Responsiveness - Bills 📱"
### Description

- The Bills page is not responsive yet
- The layout can be made responsive using flexBoxes
- Use breakpoints in `styles.js` of `studentModules\Bills` folder.

### Screenshots

- Padding Required
![padding](https://user-images.githubusercontent.com/75939390/188257858-ad9566b6-6e84-40e7-88c9-dc9284b50a3b.jpg)

- Use flexDirection: column
![fdc](https://user-images.githubusercontent.

[2022-09-03 15:09] warmachine028 opened #54 "Download ADMIT Cards 🌟🌟🌟🌟"
### Description

- This is a much awaited feature.
- The admit card Module was made responsive after adding a lot of labor.
- But to make it perfect users must be able to download it too.
- Currently the Download Button does nothing.
- Make the button usable by using any react library to convert HTML to PDF in High Quality.

### Screenshots

![downlaod](https://user-images.githubusercontent.com/75

[2022-09-03 15:54] erfan93na commented on #53
I'd be happy to do this.

[2022-09-03 15:55] warmachine028 commented on #53
@erfan93na Go ahead with it !

[2022-09-03 15:56] #54 closed

[2022-09-04 03:26] warmachine028 opened #57 "Faculty Name Bug 🐛"
### Description

- Faculty name toolTip must not be shown in the RECESS column of Academic Time Table.
- This must be removed.

### Screenshots

![new issue](https://user-images.githubusercontent.com/75939390/188295739-6ac72d54-5837-4473-b1b6-220f541ded68.jpg)

### Additional information

- All other files must be kept intact

## Make sure to read the [CONTRIBUTING](https://github.com/warmachine02

[2022-09-04 03:35] warmachine028 opened #58 "Update README.md 📝🗒️"
### Description

- The following images are outdated in the `README.md`'s Demo section.
- They must be replaced with new ones.
- The images must be downloaded from this issue
- Then replaced inside `assets/` folder.

### Screenshots

- ### README.md DEMO section (For Reference)
![Web capture_4-9-2022_9041_github com](https://user-images.githubusercontent.com/75939390/188295907-e617fd67-f0b0-478b-a

[2022-09-04 04:22] anuj98 commented on #57
@warmachine028 Can you assign me this issue? I am new to contributing to open source projects, so wanted to start with easier once.

[2022-09-04 04:23] warmachine028 commented on #57
Go ahead with it!

[2022-09-04 04:38] anuj98 commented on #57
There's not file in server folder. How do I get it?

[2022-09-04 04:40] warmachine028 commented on #57
Yes the server isn't created yet. currently we are working with hard coded data only.
Did you `git clone` the repository?

[2022-09-04 04:42] anuj98 commented on #57
Yes I forked and cloned
Also, I am facing issues with the `progress` packages:
<img width="938" alt="image" src="https://user-images.githubusercontent.com/30874550/188297721-56f4fb9c-a10e-4bbc-b16f-be87e27df922.png">

[2022-09-04 04:43] warmachine028 commented on #57
did you try `npm install` to fix it ?

[2022-09-04 04:45] anuj98 commented on #57
Yes I did `npm install` in cleint folder

[2022-09-04 04:47] warmachine028 commented on #57
can you show me your package.json file

[2022-09-04 04:49] anuj98 commented on #57
<img width="246" alt="image" src="https://user-images.githubusercontent.com/30874550/188297904-4cd2518a-0b3d-484d-b428-a64f719fc014.png">

[2022-09-04 04:53] warmachine028 commented on #57
- Can you try uninstalling the package [@progress/kendo-react-pdf](https://www.npmjs.com/package/@progress/kendo-react-pdf) and then reinstalling it.
- If that doesn't work you can comment out the admit card module and work on the TimeTable only

[2022-09-04 04:54] VedanthB commented on #58
I'd like to take this up.

[2022-09-04 04:54] warmachine028 commented on #58
Yes go ahead with it!

[2022-09-04 04:55] VedanthB commented on #58
okay.

[2022-09-04 05:32] anuj98 commented on #57
@warmachine028 Created a PR. Please take a look.

[2022-09-04 05:36] warmachine028 commented on #57
Very Good! Welcome to the Contributor's Club. Make sure to star this project 🥂

[2022-09-04 05:39] anuj98 commented on #57
I guess you'll be merging the PR. I don't have write access.

[2022-09-04 05:40] warmachine028 commented on #57
Yes! I will merge it

[2022-09-04 05:40] #57 closed

[2022-09-04 05:48] anuj98 commented on #32
Will this be just a date range selector inside the calendar page?

[2022-09-04 05:50] warmachine028 commented on #32
Only a data range Selector will do fine for now. Currently it just needs to look like a calendar page with 12 months.

[2022-09-04 05:52] anuj98 commented on #32
Ok I would like to try this out.

[2022-09-04 05:53] warmachine028 commented on #32
Great Go ahead with it!

[2022-09-04 06:01] warmachine028 commented on #58
@VedanthB you can also look at this [issue](https://github.com/warmachine028/uemcrp/issues/37), it requires just a simple markdown addition

[2022-09-04 07:05] anuj98 commented on #32
I don't think we can create a whole 12-month calendar using material UI datepicker. Any suggestions from your end

[2022-09-04 07:07] warmachine028 commented on #32
Is it not possible to create like this?
![Screenshot 2022-09-04 123633](https://user-images.githubusercontent.com/75939390/188301746-60f5ccaa-91c1-4184-a7c0-346fe2ecfa14.jpg)

[2022-09-04 07:07] anuj98 commented on #32
Yes this is possible. I thought whole 12 months on the screen.

[2022-09-04 07:08] warmachine028 commented on #32
Yes I wanted like this image

[2022-09-04 07:18] anuj98 commented on #32
But there's 1 problem That date picker is requires pro license.

[2022-09-04 07:23] warmachine028 commented on #32
Alright! So this can't be done using material UI components itself. Can you try using [React Calendar](https://www.npmjs.com/package/react-calendar)

[2022-09-04 07:50] #58 closed

[2022-09-04 09:50] anuj98 commented on #32
I raised a PR but not sure all the build activities failed. Also, the package lock got a lot of changes along with version. Can you check and let me know what's the issue?

[2022-09-04 09:57] warmachine028 commented on #32
I will let you know about the issue by tomorrow

[2022-09-06 15:37] #53 closed

[2022-09-06 15:39] #32 closed

[2022-09-06 15:56] Sohelahmed-molla commented on #37
I would like to work on this issue

[2022-09-06 15:58] warmachine028 commented on #37
Sure, Go ahead with it!

[2022-09-11 13:38] anurupadas7 commented on #13
Hey Pritam, ready to work on this.

[2022-09-12 13:21] warmachine028 commented on #13
Go ahead with it

[2022-09-28 01:14] #37 closed

[2022-10-02 04:10] warmachine028 opened #69 "University Marking System 🗒️📝"
### Description

- The university Marking System Module is not yet designed
- Currently the module does nothing but display a text
- The module must be designed using Material UI only
- There must be a drop Down to select semesters
- You may refer to the given screenshots
- This must be mobile responsive in all devices

### Screenshots

![Screenshot 2022-10-02 093724](https://user-images.githubuse

[2022-10-04 05:07] warmachine028 opened #70 "Remove Name Field"
### Description

- The Icon already has a name below it.
- Name Component must not be present in the paper
- Remove the Name component

### Screenshots

![Screenshot 2022-10-04 103530](https://user-images.githubusercontent.com/75939390/193738960-ba9a3758-4a7f-416c-8c34-cd7b01375312.png)

### Additional information

- Please star this repo 🌟
- Make sure to read All contributing guidelines
- Also co

[2022-10-04 05:11] GabrielWarner commented on #70
Hello I can do this. Can you assign it to me?

[2022-10-04 05:16] warmachine028 commented on #70
Sure!

[2022-10-04 05:17] GabrielWarner commented on #70
Thank you, getting it cloned now.

[2022-10-04 05:18] ABHISHEK-PANDEY2 commented on #70
Can i work on it too ? already started , didn't saw Gabriel was assigned

[2022-10-04 05:23] warmachine028 commented on #70
Hey @ABHISHEK-PANDEY2, glad to see your enthusiasm towards the project. However as @GabrielWarner was already assigned to this issue, I would like you:
 - To find other issues to contribute.
 - Create a new issue stating ways to improve this project.
 - wait for new issues to be created.

[2022-10-04 05:25] ABHISHEK-PANDEY2 commented on #70
@warmachine028 Ok , thanks for the reply 😄

[2022-10-04 05:28] warmachine028 opened #71 "Unresponsive Module"
### Description

- The organisational calendar module is unresponsive.
- Make the module responsive for all devices.

### Screenshots

![Screenshot_2022-10-04-10-54-44-25_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/75939390/193741381-34d49fe2-9d6f-4a46-b5c4-e17a9cf2b7d3.jpg)

### Additional information

_No response_

[2022-10-04 05:31] warmachine028 commented on #70
@ABHISHEK-PANDEY2 check out #71

[2022-10-04 05:40] Dawood-Shahid commented on #71
@warmachine028 I want to work on this issue please assign it to me.

[2022-10-04 05:41] warmachine028 opened #72 "CAPTCHA"
### Description

- Currently only a static image is displayed in the place of captcha
- Find ways to generate real captcha and match it with user input.
- Discover React libraries to implement captcha Feature.
- The randomly generated captcha image being similar to the current static image is preferred style-wise
- However any new modifications in the generated image is allowed for consideration.

[2022-10-04 05:41] warmachine028 commented on #71
Go ahead!

[2022-10-04 05:45] #13 closed

[2022-10-04 05:53] ABHISHEK-PANDEY2 commented on #71
Oh not again,it is assigned  , i solved the issue sir , Can i raise the PR

above 600px width , calender looks like this

![image](https://user-images.githubusercontent.com/95560057/193744535-e5b3cddf-e927-4c3f-b7ea-06f8be3be700.png)

below 600px

![image](https://user-images.githubusercontent.com/95560057/193744635-1a335c97-42db-4e12-a7bb-7b0e31720222.png)

[2022-10-04 06:01] warmachine028 commented on #71
@Dawood-Shahid, can you work on another issue please? Actually @ABHISHEK-PANDEY2 already worked on it. Sorry for the inconvenience caused.

@ABHISHEK-PANDEY2 next time get assigned to an issue before proceeding, that ways issues get assigned on a First come First serve basis🥇

[2022-10-04 06:04] ABHISHEK-PANDEY2 commented on #71
@warmachine028 i am really sorry , new to all this .. will keep that in mind .
Thanks for the opportunity

[2022-10-04 06:06] Dawood-Shahid commented on #71
@warmachine028 ok no issue.

[2022-10-04 06:08] Dawood-Shahid commented on #71
@ABHISHEK-PANDEY2 can you try at 320px?

[2022-10-04 06:11] ABHISHEK-PANDEY2 commented on #71
@Dawood-Shahid

under 300px

![image](https://user-images.githubusercontent.com/95560057/193747050-9582b71b-22b0-423b-8588-4780025c3c83.png)

[2022-10-04 06:14] isayakmondal commented on #72
I would like to take up this.

[2022-10-04 06:14] warmachine028 commented on #71
Looks good! Create the PR

[2022-10-04 06:18] warmachine028 commented on #72
Great! Assigning you right away

[2022-10-04 06:21] ABHISHEK-PANDEY2 commented on #71
@warmachine028 Raised the PR

[2022-10-04 06:23] #70 closed

[2022-10-04 06:28] #71 closed

[2022-10-04 09:57] isayakmondal commented on #72
Hey after doing `npm i` I'm getting these errors. Could you help me out?
![image](https://user-images.githubusercontent.com/51121313/193790939-8edfa3c3-5281-4ee4-b6dc-c711d870146f.png)
And when I tried to install those dependencies manually I got these.
![image](https://user-images.githubusercontent.com/51121313/193791149-3970b74c-2b29-4af0-b978-b111f52f22f6.png)

[2022-10-04 10:19] warmachine028 commented on #72
Can you do `npm i --force` that might resolve.

[2022-10-04 12:56] sangmesh04 commented on #69
I would like to work on this. Can you assign it to me?

[2022-10-04 13:06] warmachine028 commented on #69
Great! ❤️. Go ahead with it.

[2022-10-04 15:47] isayakmondal commented on #72
Sorry, I'm still I'm getting these errors on npm start.

Here's the log:
[code]

[2022-10-04 15:50] isayakmondal commented on #72
I think this `@progress\kendo-react-pdf` might have some dependencies that it is not installing automatically. But when I'm trying to install them manually I'm getting stuck in a dependency loop.

[2022-10-04 16:59] warmachine028 commented on #72
Do one thing! Try commenting out this package, then try `npm i`.
![Screenshot 2022-10-04 222914](https://user-images.githubusercontent.com/75939390/193881052-75568ec5-d8dc-40b4-9834-c740564032cd.png)

[2022-10-04 18:13] warmachine028 opened #76 "Mobile Responsiveness: PaydueFees"
### Description

- PayDueFees Module is successfully created
- But there is a bug in that module
- The module is not responsive
- This must be fixed

### Screenshots

- Pay Due Fees Module
![Screenshot 2022-10-04 234204](https://user-images.githubusercontent.com/75939390/193894311-38c22ea8-76bb-4aae-87fa-1c1b9fbd3986.png)

- Mobile View
![mobile (1)](https://user-images.githubusercontent.com/75939

[2022-10-04 18:39] Muhammad-Shahid-Jamal commented on #76
@warmachine028 kindly assign it to me so i can work on it

[2022-10-04 18:57] warmachine028 opened #77 "[FEATURE] <description>"
### Description

test

### Screenshots

_No response_

### Additional information

- Always use styled componets instead of plain CSS and MUI components.
## **Make sure to read the [CONTRIBUTING](https://github.com/warmachine028/uemcrp/blob/main/CONTRIBUTING.md) and [SETUP](https://github.com/warmachine028/uemcrp/tree/main/rules) docs before proceeding**
## Happy contributing. 💐
Star my other Repo

[2022-10-04 19:08] Alcadeus0 commented on #76
hi can i work on this

[2022-10-04 19:09] warmachine028 commented on #76
Yes! Assigning you right away

[2022-10-04 19:18] Alcadeus0 commented on #76
sweet! working on it asap

[2022-10-05 05:03] #69 closed

[2022-10-05 05:07] DanBrown47 opened #79 "Add build test to the workflow"
### Description

Running NPM build will in turn test for any issues within workflow that could be breaking the project

### Screenshots

_No response_

### Additional information

Add a clean documented workflow to the project and let GitHub actions do the rest

[2022-10-05 05:07] warmachine028 opened #80 "Reset Button"
### Description

- There must be a reset button to quickly reset the date
- There are 2 places which look suitable for the reset button to me (any new suggestions are welcome).
- You must add the reset button in any one position, **remember to maintain the responsiveness of the page**.
- The function of this reset button will be to reset the dates to current date.
- The functionality must not be a

[2022-10-05 05:08] DanBrown47 commented on #79
@warmachine028 Assign me the issue.

[2022-10-05 05:09] warmachine028 commented on #79
Great! Assigning you

[2022-10-05 05:20] warmachine028 opened #81 "Make changes in University Marking System"
### Description

- Make the Top Paper component expand to both sides
- Increase the height of the paper component
- The Label `Student Marks Display` Must go to the top of the page
- The table component must expand both sides

### Screenshots

- Changes requested
![Screenshot 2022-10-05 104434](https://user-images.githubusercontent.com/75939390/193986880-ab9450e5-7a39-48e5-a6ac-21dd09a66229.png)

[2022-10-05 05:29] amanchoudhary18 commented on #80
Assign it to me

[2022-10-05 05:40] warmachine028 commented on #80
good! Assigning right away

[2022-10-05 06:16] Ritesh-Dabral commented on #81
@warmachine028
Can u assign this to me ?

[2022-10-05 06:21] warmachine028 commented on #81
yes! Assigning You

[2022-10-05 06:33] #80 closed

[2022-10-05 06:55] warmachine028 opened #83 "Side Panel for Organizational Calendar"
### Description

- Currently The organizational calendar does nothing.
- It is missing a side Pannel.
- There must a proper side panel in which all holidays must be displayed.
- You can take reference from the below image on how the side panel must look like, (any other good designs are also preferrable).
- You can use [Mui List Components](https://mui.com/material-ui/react-list/#main-content)
- T

[2022-10-05 06:59] Ritesh-Dabral commented on #81
@warmachine028

Please verify

- Stuent Marks Display and semester selection on the top
- Increased the Width of Paper Component but kept a limit else on bigger screen sizes, it won't look good due to justify-content set to space-between
- Increased the size of result to cover the parent
- Increased height of Top Paper

![image](https://user-images.githubusercontent.com/36252036/193999184-3dfcbbc8

[2022-10-05 07:05] warmachine028 commented on #81
All looks Good!
Just 2 changes required
- Can you make the paper width same as the table?
- Increase the semester drop-down width to double its current size

Good Job! 🎊

[2022-10-05 07:06] #76 closed

[2022-10-05 07:10] Ritesh-Dabral commented on #81
@warmachine028
Please verify
- Stuent Marks Display and semester selection on the top
- Increased the Width of Paper Component but kept a limit else on bigger screen sizes, it won't look good due to justify-content set to space-between
- Increased the size of result to cover the parent
- Increased height of Top Paper
- Paper width same as the table
- Increase the semester drop-down width to double

[2022-10-05 07:15] warmachine028 opened #84 "Unit Test Details 📇"
### Description

- The unit test Module is not designed yet.
- Currently the module does nothing but display a test.
- The module must be designed using Material UI only
- You may refer to the given screenshots
- Design the module such that it looks good aesthetically and matches the other UI components.
- Make use of modern Material UI components and take reference from other components

### Scre

[2022-10-05 07:16] warmachine028 commented on #81
Great now create a PR

[2022-10-05 07:41] aaushitiwari commented on #83
can you assign this to me?

[2022-10-05 07:44] warmachine028 commented on #83
Sure! Go ahead with it!

[2022-10-05 14:00] aaushitiwari commented on #83
hey, just a doubt you want me to make just the frontend part of the panel right? Also is it okay if I use HTML, CSS to make it?

[2022-10-05 14:15] warmachine028 commented on #83
Yes only front end part is necessary as of now. Refrain from using plain HTML/CSS.Make use of JSX in React components and Styled Components in Material UI only.

[2022-10-06 05:20] #81 closed

[2022-10-06 08:10] warmachine028 opened #88 "Reset Date"
### Description

- Add functionality to this reset date button in Payment List module
- When User clicks on it, both end date and start date must be set to today
- make use of useState hook

### Screenshots

![Screenshot 2022-10-06 133826](https://user-images.githubusercontent.com/75939390/194257643-226c9559-b8e6-4d25-b86c-3b87c710204d.png)

### Additional information

- Always use styled componet

[2022-10-06 08:30] SabujGolui commented on #88
Assign it to me. I'll be more than pleased to assist.

[2022-10-06 08:30] warmachine028 commented on #88
Great! Assigning you

[2022-10-06 17:49] warmachine028 opened #89 "[FEATURE] <description>"
### Description

- The user must be able to update their profile images.
- They must hover over the image.
- Then the overlay must be visible with a camera icon in the center
- **The camera Icon must be white instead of black**
- There must be a subtle transition. The overlay coming from bottom to up on hover.
- User must be able to click on the camera icon in the center of the overlay

### Screen

[2022-10-06 18:13] warmachine028 opened #90 "User Image Update Feature"
### Description

- The user must be able to update their profile images.
- They must hover over the image.
- Then the overlay must be visible with a camera icon in the center
- **The camera Icon must be white instead of black**
- There must be a subtle transition. The overlay coming from bottom to up on hover.
- User must be able to click on the camera icon in the center of the overlay

### Screen

[2022-10-06 18:24] IRSHIT033 commented on #90
Can assign me on this

[2022-10-06 18:24] warmachine028 commented on #90
Sure!

[2022-10-07 04:05] warmachine028 commented on #72
Hey @isayakmondal! What is the status of the work

[2022-10-07 04:06] warmachine028 commented on #83
Hey @aaushitiwari! What is the status of the work?

[2022-10-07 07:53] debopriyadey commented on #84
I'll be more than happy to work on it,pls assign me

[2022-10-07 07:55] warmachine028 commented on #84
Assigned You!

[2022-10-07 08:21] #79 closed

[2022-10-07 10:13] aaushitiwari commented on #83
I don't really know react that much. I could have done it using bootstrap, HTML,CSS and hence i unassigned myself

[2022-10-07 10:23] SabujGolui commented on #88
@warmachine028 pls add Hacktoberfest-accepted tag otherwise my contribution wont be counted in the costest

[2022-10-07 10:30] warmachine028 commented on #88
Alright 👍

[2022-10-07 20:48] #84 closed

[2022-10-08 07:52] isayakmondal commented on #72
Hey, I'm sorry I couldn't make it work. I tried everything :(

[2022-10-08 07:55] warmachine028 commented on #72
Its alright. This issue will be open unless anyone solves it

[2022-10-09 17:10] tanishk-23 commented on #83
@warmachine028 Can you please assign this issue to me?

[2022-10-09 17:15] warmachine028 commented on #83
Sure

[2022-10-12 17:37] warmachine028 commented on #83
Im assigning both of you since this is a critical issue. I want this done ASAP. make sure to star and fork this repo💚

[2022-10-12 18:40] warmachine028 opened #97 "Font must be smaller"
### Description

- This font in the given image below must be smaller in mobile devices
- Do not directly change the styled for desktop devices in the `styles.js` file.
- Use Styled Component breakPoints to adjust the fontSize for mobile devices of that specific Typography class.
- Only change the fontSize, don't deviate from task

### Screenshots

![mobile](https://user-images.githubusercontent.c

[2022-10-12 18:46] warmachine028 commented on #90
what is the status of the job @IRSHIT033 ?

[2022-10-12 18:46] Harsh-garg-coder commented on #97
can you assign this issue to me?

[2022-10-12 18:47] warmachine028 commented on #97
Yes, Will assign you right away!

[2022-10-12 18:47] Harsh-garg-coder commented on #97
thank you

[2022-10-14 05:29] #97 closed

[2022-10-14 05:35] DarkSoul26 commented on #90
@warmachine028 I would like to work on this issue.

[2022-10-14 07:04] warmachine028 commented on #90
Sure!

[2022-10-14 08:15] Ts-A opened #99 "[OTHER] Server Side"
### What would you like to share?

At the moment, I don't find any server code but in [Setup.md](https://github.com/warmachine028/uemcrp/blob/main/rules/SETUP.md) it does mention the way to run the sever. If you take contributions setting up an express server and working on it from scratch, I could work on it.

### Additional information

_No response_

[2022-10-14 08:55] warmachine028 commented on #99
Sure! Why not. Assigning you.

[2022-10-15 13:49] warmachine028 commented on #83
Hey @tanishk-23, @akarsh-jain-790 what is the progress on this issue?

[2022-10-16 08:47] warmachine028 commented on #90
What is the progress on this issue? @DarkSoul26

[2022-10-16 08:47] warmachine028 commented on #99
Hi @Ts-A ! What is the progress?

[2022-10-16 08:52] Ts-A commented on #99
- Setup basic expressjs with dotenv
- MongoDB localhost connection check
- Sample user model
- Sample REST APIs for user CRUD

Working on setting up user auth using jwt and secure password storing.

Will submit a PR in a few hours for you to review.

[2022-10-16 08:53] Ts-A commented on #99
If you have a specific user model for key-value pairs, you can tag it here so I can add it as well

[2022-10-16 09:02] DarkSoul26 commented on #90
I apologise @warmachine028, but I'm not able to find a correct solution to this issue.

[2022-10-16 12:02] Ts-A commented on #99
Since we need a user model to proceed with password and user auth, I'll skip user model.

[2022-10-18 11:36] #99 closed

[2022-10-18 12:06] Ts-A commented on #83
Can you assign it to me?
Also clarify on this:
Desktop view - side panel
How about the mobile view?

[2022-10-18 16:52] warmachine028 commented on #83
How about we hide it and keep a hamburger icon to toggle it on the top left corner.

[2022-10-20 05:53] ozair-dev commented on #72
assign it to me

[2022-10-20 06:19] warmachine028 commented on #90
Alright I will kepp this issue open incase anyone is able to solve it. I will unassign you from it as of now

[2022-10-22 04:32] warmachine028 commented on #83
What is the progress?

[2022-10-22 05:42] Ts-A commented on #83
submitting a pr in a few hours

[2022-10-22 13:21] #83 closed

[2022-10-22 14:06] Ts-A opened #102 "[Global State Management] Manage data globally"
### Description

Currently the data is handled locally in components using useState and passed down as props throughout all the components that work on that data. For eg: user State is managed in App Component and passed down as props to many components down. With the introduction of redux, the data can be managed globally and called upon when needed. This could reduce code complexity during futur

[2022-10-22 14:08] Ts-A commented on #102
Tools to use: react-redux and @reduxjs/toolkit

[2022-10-22 14:20] warmachine028 commented on #102
Yes it is necessary. I was confused between using Redux or React Query mentioned in [this video](https://youtu.be/Kjkx2BASAZA). What are your thoughts on using React Query over Redux as the React Query seems a bit easier to manage than Redux. I have used Redux in one of my other [project](https://github.com/warmachine028/memories).

[2022-10-22 14:46] Ts-A commented on #102
React Query is definitely powerful when managing with asynchronous data. So we can separate client side (theme) and server side(user) data along with the data fetching optimizations it brings. I was with the mindset of @reduxjs/toolkit, but react-query seems better too.

[2022-10-22 14:48] Ts-A commented on #102
I suppose to use react-query with the current state of the project, we would have to update the server part of the application first before using it, as react-query's main use is async data management.

[2022-10-22 14:50] warmachine028 commented on #102
Would you be able to update the server for the implementation of react-query in this project? It would be a great help!

[2022-10-22 14:52] Ts-A commented on #102
Sure thing. I can work on the server part and come back to react-query.

[2022-10-22 14:52] warmachine028 commented on #102
Great 👍 😃. Assigning you!

[2022-10-22 14:53] Ts-A commented on #102
Do you have a model DB schema and the routes to be present in backend?

[2022-10-22 14:54] Ts-A commented on #102
For now, there's only a sample user schema and user CRUD routes, not the actual one i suppose.

[2022-10-22 14:57] warmachine028 commented on #102
Yes

[2022-10-22 15:27] Ts-A commented on #102
Where could I get that?

[2022-10-22 15:49] warmachine028 commented on #102
Can you create some mock users for now?

[2022-10-24 11:07] #72 closed

[2022-10-25 08:53] boltkk95 commented on #90
@warmachine028  if no one is working on this, i would like to

[2022-10-25 08:56] warmachine028 commented on #90
Sure, I've assigned you this issue

[2022-10-25 08:58] boltkk95 commented on #90
thanks

[2022-10-25 12:36] boltkk95 commented on #90
@warmachine028  Regarding the matter of storing the profile picture uploaded by users, how do you want me to proceed?

[2022-10-25 12:42] warmachine028 commented on #90
Right now just the ui Part is necessary. The user must be able to choose the image from their devices. The rest storage logic will be added eventually after the backend is ready

[2022-10-25 14:30] boltkk95 commented on #90
Ok. Got it

[2022-10-26 11:52] Ts-A commented on #102
@warmachine028 implemented bare minimum of react-query setup in project but it's not the efficient way yet. Simply because currently there are too many optimizations to be done in client part with state management. As react-query handles async server data, it is wise to first re-structure the state management through the app accurately and then implement react-query.

[2022-10-26 11:54] Ts-A commented on #102
It is best if I create a new issue for optimizing state management using either context APIs and reducers first for both client and server data. And jump to react-query setup removing the server dependent data. @warmachine028 your thoughts?

[2022-10-26 11:54] Ts-A commented on #102
It primarily affects in react-query with auth, since it has parts of client and server state

[2022-10-26 12:31] boltkk95 commented on #90
@warmachine028 I'm interested to work on more issues .. Is there any which you think I can can take up and resolve ?

[2022-10-26 13:53] boltkk95 commented on #90
@warmachine028  i have issued the pull request for the current issue, please look in to it

[2022-10-26 14:00] warmachine028 commented on #102
I think its a good idea. You can create a new issue

[2022-10-26 14:06] Ts-A opened #105 "[Enhancement] <State Management using Context and Reducer>"
### Description

Migrate from local state management to global state management.

### Screenshots

_No response_

### Additional information

- Always use styled componets instead of plain CSS and MUI components.
## **Make sure to read the [CONTRIBUTING](https://github.com/warmachine028/uemcrp/blob/main/CONTRIBUTING.md) and [SETUP](https://github.com/warmachine028/uemcrp/tree/main/rules) docs befo

[2022-10-26 14:08] #90 closed

[2022-10-26 20:23] warmachine028 commented on #90
@boltkk95  make sure to star this repository for more issues

[2022-10-27 04:43] boltkk95 opened #106 "[FEATURE] Making the grid items clickable only when hovering over the pictures"
### Description

In the  dashboard, the object tiles below student details (the grid items) are clickable even in the whitespace (takes you to that tile's page. Could make it clickable only when hovering on pictures.

### Screenshots

_No response_

### Additional information

- Always use styled componets instead of plain CSS and MUI components.
## **Make sure to read the [CONTRIBUTING](https://g

[2022-10-27 04:44] boltkk95 commented on #106
can i work on this issue?

[2022-10-27 04:52] warmachine028 commented on #106
Sure!

[2022-10-27 04:53] warmachine028 commented on #106
Make sure to star this repository

[2022-10-27 05:25] boltkk95 commented on #106
ok. got it.
thanks

[2022-10-27 11:13] boltkk95 commented on #106
@warmachine028  i have issued the PR for this issue.

[2022-10-27 19:02] boltkk95 opened #108 "changing the curser to pointer"
### Description

When hovering over student profile picture to upload new picture, the cursor should be pointer

### Screenshots

_No response_

### Additional information

- Maintain Folder Structure
- Always use styled componets and MUI components instead of plain CSS.
## **Make sure to read the [CONTRIBUTING](https://github.com/warmachine028/uemcrp/blob/main/CONTRIBUTING.md) and [SETUP](https:/

[2022-10-27 19:04] boltkk95 commented on #108
@warmachine028  forgot to change the curser when i was doing the profile picture feature, can you assign me this? will get it done asap

[2022-10-27 19:09] #106 closed

[2022-10-27 19:10] warmachine028 commented on #108
This is a minor issue, but I'm still assigning you.

[2022-10-28 08:50] #108 closed

[2022-10-28 12:10] boltkk95 opened #110 "[FEATURE] calendar enhancement"
### Description

In calendar page, the panel on the left with holidays could have clickable buttons with clicking a specific holiday takes you to that date in the calendar.

### Screenshots

_No response_

### Additional information

- Always use styled componets instead of plain CSS and MUI components.
## **Make sure to read the [CONTRIBUTING](https://github.com/warmachine028/uemcrp/blob/main/CON

[2022-10-28 12:12] boltkk95 commented on #110
@warmachine028 what do you think about this? can you assign me this?

[2022-10-28 12:12] warmachine028 commented on #110
Definitely an important feature! It would Very nice if someone could implement that!

[2022-10-28 12:12] warmachine028 commented on #110
Yes! I will assign you

[2022-10-29 11:43] anuj98 commented on #105
Are you considering using context or Redux here?

[2022-10-29 12:12] anuj98 commented on #105
Also when are you planning to add UI for update info page? I would like to work on that.

[2022-10-29 12:19] anuj98 opened #111 "Console has errors related to keys"
### Description

- When we open the Unit test details page there are console errors. We can similarly check other pages and make sure there are not console errors.
This is an easy fix. We should add keys while rendering some div in a loop.

- Also making sure there are not console logs while merging code is important

### Screenshots

![image](https://user-images.githubusercontent.com/30874550/198

[2022-10-29 12:57] warmachine028 commented on #111
You can solve this error. I am assigning this to you.

[2022-10-29 12:59] warmachine028 commented on #105
@anuj98 we are planning to avoid redux as of now and instead use react-query as discussed in

[2022-10-29 17:21] anuj98 commented on #111
Found few unused imports. Should I remove those as well?

[2022-10-29 17:28] warmachine028 commented on #111
Yes please

[2022-10-29 17:33] anuj98 commented on #111
Done

[2022-10-30 06:55] boltkk95 commented on #110
@warmachine028

[2022-10-30 10:26] #110 closed

[2022-10-30 10:27] #111 closed

[2022-10-30 10:54] anuj98 commented on #105
What about this?

[2022-10-30 11:02] warmachine028 commented on #105
Could you create a new issue for the Update Info UI. I would assign you

[2022-11-01 13:56] anuj98 opened #114 "[FEATURE] Add UI for Update Info page"
### Description

Currently the Update Info page has no UI and functionality. Design to be discussed with team and implemented.
https://github.com/warmachine028/uemcrp/issues/105#issuecomment-1296215863

### Screenshots

![image](https://user-images.githubusercontent.com/30874550/199249836-30f4afd0-0539-4df9-8d74-81115cca2f67.png)

![image](https://user-images.githubusercontent.com/30874550/1992503

[2022-11-01 14:02] anuj98 commented on #114
@warmachine028 Can we remove the hacktoberfest label now? I think I won't be able to you can remove it if we think it's no longer required.

[2022-11-01 14:15] warmachine028 commented on #114
I have assigned you. I will remove the `hactoberfest` label

[2022-11-01 15:11] warmachine028 opened #115 "Responsiveness Bug in Home"
### Description

- This Dashboard section in Home page is not sized properly in Mobile View.
- This needs to be fixed asap.

### Screenshots

![IMG_20221101_203935](https://user-images.githubusercontent.com/75939390/199267380-4572d8db-9284-4ab7-bc90-a37506299f8a.jpg)

### Additional information

- Maintain Folder Structure
- Always use styled componets and MUI components instead of plain CSS.
## *

[2022-11-02 09:39] anuj98 commented on #114
Following are the things I guess can be updated:

- Phone number
- Email
- Home Address

Anything else apart from this? Name I guess won't be directly updated. Would need approvals, correct?

[2022-11-02 09:45] warmachine028 commented on #114
Yes. For now these are fine.

[2022-11-02 11:07] elidakirigo commented on #115
hello there, I'd love to assist, kindly assign.

[2022-11-02 11:23] warmachine028 commented on #115
Sure I'll assign you

[2022-11-03 06:55] anuj98 commented on #114
@warmachine028 Any suggestion on this:
![image](https://user-images.githubusercontent.com/30874550/199662387-6d9e4ae3-db0b-4915-a358-778c2fa50d7f.png)

[2022-11-03 07:08] warmachine028 commented on #114
I think this one looks perfect. Doesn't need to be mobile responsive for now, if it's already done then it's fine. Else I will create a new Issue for that seperately .

[2022-11-03 07:52] anuj98 commented on #114
Already done. Attached a screenshot in PR

[2022-11-03 08:42] #114 closed

[2022-11-06 06:51] warmachine028 commented on #115
Hello @elidakirigo. What is the status of the work?

[2022-11-19 15:16] githmin commented on #115
Hello there, I'd like to work on fixing this

[2022-11-19 15:37] warmachine028 commented on #115
Sure